.movie-card {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    font-family: sans-serif;
    font-size: 18px;
    transition: 0.4s ease-in-out all;
}

.movie-card:hover{
    box-shadow: 2px 30px 30px rgba(0,0,0,0.5);
    cursor: pointer;
}

.moviePoster {
    width: 240px;
    height: 360px;
    border-radius: 10px;
}

.favorites-button {
    border: none;
    background: none;
}

