.homeContainer {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "h h h h h"
    "c1 c1 c1 c1 c1"
    "c1 c1 c1 c1 c1";
    text-align: center;
    margin: auto;
    background: linear-gradient(180deg, rgb(245, 245, 245), rgb(220, 220, 220));
    background-size: cover;
}
@media screen and (max-width:1500px) {
    .homeContainer{
        grid-template-areas: 
        "h h h h"
        "c1 c1 c1 c1"
        "c1 c1 c1 c1";
    }
}

@media screen and (max-width:1248px) {
    .homeContainer{
        grid-template-areas: 
        "h h h "
        "c1 c1 c1"
        "c1 c1 c1";
    }
}

@media screen and (max-width:968px) {
    .homeContainer{
        grid-template-areas: 
        "h h"
        "c1 c1"
        "c1 c1";
    }
}

@media screen and (max-width:768px) {
    .homeContainer{
        grid-template-areas: 
        "h"
        "c1"
        "c1";
    }
}